<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel=stylesheet href="/static/login.css">
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form action="/route/login" method="POST">
          <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
          </button>
        </form>
      </div>

      <script>
        function handleSubmit(event) {
            event.preventDefault(); 
            const username = document.querySelector('input[name="username"]').value;
            const password = document.querySelector('input[name="password"]').value;
            if (!username || !password) {
                alert("Please fill in both username and password fields.");
                return;
            }
            event.target.submit();
        }
    </script>
</body>
</html>